@page "/staff/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class=" = " card_title">Staff</h3>
<br />

<a href="/staff/create/" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Staff
</a>
<br />
<br />

@if (Staff == null)
{
    <div class="alert alert-info">Loading Staff...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Position</th>
                <th>Contact Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Staff)
            {
                <tr>
                    <td>@staff.StaffName</td>
                    <td>@staff.StaffEmail</td>
                    <td>@staff.StaffPosition</td>
                    <td>@staff.StaffContact</td>
                    <td>
                        <a href="staffs/view/@staff.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="staffs/edit/@staff.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(staff.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Staff>? Staff;

    protected async override Task OnInitializedAsync()
    {
            Staff = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffEndpoint}");
    }


    async Task Delete(int StaffID)
    {
        if (Staff != null)
        {
            var staff = Staff.First(q => q.Id == StaffID);
            var confirm = await js.InvokeAsync<bool>("confirm", "Do you want to delete this staff?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.StaffEndpoint}/{StaffID}");
            }
        }
    }
}