<EditForm Model="@manufacturer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Manufacturer Name: </label>
        <div>
            <InputText @bind-Value="@manufacturer.ManuName" class="form-control" />
            <ValidationMessage For="@(() => manufacturer.ManuName)" />
        </div>
    </div>

    <div class="form-group">
        <label>Country: </label>
        <div>
            <InputText @bind-Value="@manufacturer.ManuCountry" class="form-control" />
            <ValidationMessage For="@(() => manufacturer.ManuCountry)" />
        </div>
    </div>

    <div class="form-group">
        <label>Contact Info: </label>
        <div>
            <InputText @bind-Value="@manufacturer.ManuContact" class="form-control" />
            <ValidationMessage For="@(() => manufacturer.ManuContact)" />
        </div>
    </div>

    <div class="form-group">
        <label>Email: </label>
        <div>
            <InputText @bind-Value="@manufacturer.ManuEmail" class="form-control" />
            <ValidationMessage For="@(() => manufacturer.ManuEmail)" />
        </div>
    </div>


    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public Manufacturer? manufacturer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
